<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>로그인</title>
  <link rel="stylesheet" th:href="@{/css/members/login.css}">
</head>
<body>
<div class="login-container">
  <h2>로그인</h2>
  <form class="logib-form" th:action="@{/members/login}" method="post" th:object="${memberDto}">
    <div class="input-group">
      <input type="text" placeholder="아이디" th:field="*{email}" required>
    </div>
    <div class="input-group">
      <input type="password" placeholder="비밀번호" th:field="*{password}" required>
    </div>
    <button class="login-btn" type="submit">로그인</button>
    <p class="signup-link">아직 계정이 없으신가요? <a th:href="@{/members/signup}">회원가입</a></p>
  </form>
</div>
</body>
</html>