<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 수정</title>
</head>
<body>
<form th:action="@{/members/me/password}" method="post" th:object="${memberUpdateDto}">
    <div class="input-group">
        <label for="currentPassword">현재 비밀번호</label>
        <input type="password" id="currentPassword" name="currentPassword" placeholder="현재 비밀번호"
               th:field="*{currentPassword}">
    </div>
    <div class="input-group">
        <label for="newPassword">새 비밀번호</label>
        <input type="password" id="newPassword" name="newPassword" placeholder="새 비밀번호" th:field="*{newPassword}">
    </div>
    <div class="input-group">
        <label for="newPasswordCnf">새 비밀번호 확인</label>
        <input type="password" id="newPasswordCnf" name="newPasswordCnf" placeholder="새 비밀번호 확인"
               th:field="*{newPasswordCnf}">
    </div>
    <button>비밀번호 수정</button>
</form>
</body>
</html>