<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/members/signup.css}">
    <title>회원가입</title>
</head>
<body>
<div class="signup-container">
    <h2>회원가입</h2>
    <form class="signup-form" th:action="@{/members/signup}" method="post" th:object="${memberDto}">
        <div class="input-group">
            <input type="text" placeholder="아이디" name="email" id="email" th:field="*{email}" required>
            <input type="text" placeholder="인증번호를 입력하세요." oninput="verifyEmail();" name="code" id="code">
            <button class="email-auth" type="button" onclick="sendEmail();">인증번호 발송</button>
            <span id="result" style="color: green;"></span>
        </div>
        <div class="input-group">
            <input type="password" placeholder="비밀번호" th:field="*{password}" required>
        </div>
        <div class="input-group">
            <input type="password" placeholder="비밀번호 확인" th:field="*{passwordCnf}" required>
        </div>
        <div class="input-group">
            <input type="text" placeholder="닉네임" th:field="*{nickname}" required>
        </div>
        <div class="input-group">
            <input type="text" placeholder="이름" th:field="*{name}">
        </div>
        <div class="input-group">
            <input type="text" placeholder="전화번호" th:field="*{phone}">
        </div>
        <button class="signup-btn" type="submit">회원가입</button>
        <p class="login-link">이미 계정이 있으신가요? <a th:href="@{/auth/login}">로그인</a></p>
    </form>
</div>
</body>
    <script>
        function sendEmail() {
            const email = document.getElementById('email').value;

            console.log(email);

            if (!email) {
                alert("이메일을 입력하세요");
                return;
            }

            fetch(`/auth/email/send?email=${encodeURIComponent(email)}`, {
                method: "POST",
            })
            .then(() => alert("인증번호 발송 완료"))
            .catch(() => alert("오류 발생"));
            }

            let timer = null;

            function verifyEmail() {
                clearTimeout(timer);

                timer = setTimeout(() => {
                    const email = document.getElementById('email').value;
                    const code = document.getElementById('code').value;

                if (code.length < 6) return;

                fetch(`/auth/email/verify?email=${encodeURIComponent(email)}&code=${code}`, {
                    method: "POST"
                })
                .then(response => {
                    if (!response.ok) throw new Error();
                    return response.text();
                })
                .then(() => {
                    document.getElementById("result").innerText = "인증 성공";
                })
                .catch(() => {
                    document.getElementById("result").innerText = "인증 실패";
                });
            }, 500);
        }
    </script>
</html>