<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원 정보 수정</title>
</head>
<body>
<div class="update-container">
    <h2>회원 정보 수정</h2>
정    <form class="update-form" th:action="@{/members/me/update}" method="post"
          th:object="${memberUpdateDto}">
        <div class="input-group">
            <label for="email">이메일</label>
            <input th:value="${member.email}" id="email" readonly>
        </div>
        <div class="input-group">
            <label for="nickname">닉네임</label>
            <input type="text" placeholder="닉네임" id="nickname" name="nickname" th:field="*{nickname}">
        </div>
        <div class="input-group">
            <label for="name">이름</label>
            <input type="text" placeholder="이름" id="name" name="name" th:field="*{name}">
        </div>
        <div class="input-group">
            <label for="phone">전화번호</label>
            <input type="text" placeholder="전화번호" id="phone" name="phone" th:field="*{phone}">
        </div>
        <button class="update-btn">수정</button>
    </form>
</div>
</body>
</html>