<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{|/board/update/${board.id}|}" method="post" th:object="${board}">
    <table>
        <tr>
            <th>게시글 번호</th>
            <td th:text="${board.id}"></td>
        </tr>
        <tr>
            <th>게시글 제목</th>
            <td>
                <input type="text" id="title" name="title" th:value="${board.title}">
            </td>
        </tr>
        <tr>
            <th>게시글 작성자</th>
            <td th:text="${board.author}"></td>
        </tr>
        <tr>
            <th>게시글 조회수</th>
            <td th:text="${board.viewCount}"></td>
        </tr>
        <tr>
            <th>게시글 작성일자</th>
            <td th:text="${board.createDt}"></td>
        </tr>
        <tr>
            <th>게시글 수정일자</th>
            <td th:text="${board.updateDt}"></td>
        </tr>
        <tr>
            <th>게시글 내용</th>
            <td>
                <textarea name="content" id="content" cols="30" rows="10" th:text="${board.content}"></textarea>
            </td>
        </tr>

    </table>
    <button>수정하기</button>
</form>

</body>
</html>