<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <center>
        <form th:action="@{/member/me/${member.memberId}/update}" method="post">
            <table>
                <tr>
                    <th>회원번호</th>
                    <td th:text="${member.id}"></td>
                </tr>
                <tr>
                    <th>아이디</th>
                    <td th:text="${member.memberId}"></td>
                </tr>
                <tr>
                    <th>비밀번호</th>
                    <td>
                        <input type="password" id="password" name="password">
                    </td>
                </tr>
                <tr>
                    <th>비밀번호 확인</th>
                    <td>
                        <input type="password" id="passwordCnf" name="passwordCnf"/>
                    </td>
                </tr>
                <tr>
                    <th>이름</th>
                    <td th:text="${member.name}"></td>
                </tr>
                <tr>
                    <th>전화번호</th>
                    <td>
                        <input type="text" id="phone" name="phone" th:value="${member.phone}"/>
                    </td>
                </tr>
                <tr>
                    <th>이메일</th>
                    <td>
                        <input type="text" id="email" name="email" th:value="${member.email}"/>
                    </td>
                </tr>
            </table>
            <button>정보 수정</button>
            <button>회원 탈퇴</button>
        </form>
    </center>
</div>
</body>
</html>